*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    overflow: hidden;
}

.cotainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
    gap: 50px;
   -webkit-box-reflect: below -100px linear-gradient
   (transparent,transparent,#0005);
}

.cotainer .imgBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 300px;
    height: 300px;
}
.cotainer .imgBx:hover{
    z-index: 1000;
}

.cotainer .imgBx i {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    background-size: 300px;
    background-position: center;
    transition: transform 0.3s ease;
}
.cotainer .imgBx:first-of-type i {
    background-image: url(/assets/images/pexels-goksutaymaz-30162929.jpg);
}

.cotainer .imgBx:last-of-type i {
    background-image: url(/assets/images/pexels-muhammet-atam-169879552-30194580.jpg);
}